@import url("vendor/normalize.css");
@import url("vendor/enjoy.css");
@import url("vendor/font-awesome.min.css");
@import url("vendor/sweetalert.css");
@import url("vendor/gameboard.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Patua+One");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css");
@keyframes scaleIn {
  0% {
    transform: scale(10);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    background-color: white; }
  100% {
    background-color: transparent; } }

@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

.bs-fill-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden; }

.bs-hero {
  background-size: cover;
  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-position: bottom;
  background-blend-mode: overlay;
  animation: fadeIn 2s ease-in; }
  .bs-hero > .bs-hero-title {
    margin: 0;
    font-size: 6em;
    color: white;
    text-shadow: 0 0.05em rgba(0, 0, 0, 0.31), 0 0 0.05em rgba(0, 0, 0, 0.38);
    font-family: 'Patua One', sans-serif;
    font-weight: normal;
    animation: scaleIn .5s ease-out; }
    @media screen and (max-width: 425px) {
      .bs-hero > .bs-hero-title {
        font-size: 3em; } }
  .bs-hero-token {
    margin: 1em 0 1em;
    padding: 1em;
    background: #ffffff;
    box-shadow: 0 0.3em 0 rgba(0, 0, 0, 0.2), 0 0.3em 2em rgba(0, 0, 0, 0.37);
    border-radius: .5em;
    color: #424261;
    text-align: center;
    display: flex;
    flex-direction: column; }
    .bs-hero-token-welcome {
      margin-top: 0; }

.bs-credit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: monospace;
  margin: 0;
  padding: 0.8em 0;
  color: #9bccd8;
  font-weight: 900; }

.bs-lobby {
  background-size: cover;
  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-position: bottom;
  background-blend-mode: overlay; }
  .bs-lobby-container {
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 425px) {
      .bs-lobby-container {
        width: 90vw;
        height: 85vh;
        margin-top: -5vh; } }
  .bs-lobby-title {
    color: white;
    text-shadow: 0 0.05em rgba(0, 0, 0, 0.31), 0 0 0.05em rgba(0, 0, 0, 0.38);
    font-family: 'Patua One', sans-serif;
    font-weight: normal;
    margin: 0;
    font-size: 4em;
    text-align: center; }
    @media screen and (max-width: 425px) {
      .bs-lobby-title {
        font-size: 2em; } }
  .bs-lobby-user {
    margin: 1em 0 1em;
    padding: 1em;
    background: #ffffff;
    box-shadow: 0 0.3em 0 rgba(0, 0, 0, 0.2), 0 0.3em 2em rgba(0, 0, 0, 0.37);
    border-radius: .5em;
    color: #424261;
    text-align: center; }
    @media screen and (max-width: 425px) {
      .bs-lobby-user {
        font-size: .8em; } }
    .bs-lobby-user > p {
      margin-top: 0; }
    .bs-lobby-user > .bs--button-primary {
      font-size: 1rem; }
  .bs-lobby-list {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: #f9f879;
    box-shadow: 0 0.5em 0 #b7b63b, 0 0.5em 2em rgba(0, 0, 0, 0.37);
    border-radius: .5em;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1; }
    .bs-lobby-list > li {
      border-bottom: 2px solid white; }
      .bs-lobby-list > li:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.24); }
      .bs-lobby-list > li:last-child {
        border: none; }
    .bs-lobby-list-item {
      text-decoration: none;
      list-style: none;
      margin: 0;
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-content: center;
      transition: background-color .5s ease;
      color: #751f1f; }
      .bs-lobby-list-item:hover {
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer; }
      .bs-lobby-list-item > .bs-lobby-list-item-vs {
        flex-grow: 1; }
      .bs-lobby-list-item-id, .bs-lobby-list-item-go, .bs-lobby-list-item-state, .bs-lobby-list-item-turn {
        opacity: .75; }
      .bs-lobby-list-item-id {
        font-family: monospace; }
      .bs-lobby-list-item-go, .bs-lobby-list-item-turn {
        margin-left: 1em; }
      .bs-lobby-list-item-li, .bs-lobby-list-item-id {
        margin-right: 1em; }
      @media screen and (max-width: 425px) {
        .bs-lobby-list-item-state {
          display: none; } }
    .bs-lobby-list:empty:before {
      content: 'there are no battles :('; }
    .bs-lobby-list-loading {
      animation: pulse .8s infinite; }
      .bs-lobby-list-loading:before {
        content: 'loading...' !important;
        font-weight: 600; }
    .bs-lobby-list:before {
      font-size: 1.1em;
      text-align: center;
      padding: 1em; }

.bs-tst-cards {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap; }

.bs-tst-card {
  min-width: 3em;
  min-height: 3em;
  margin: 1em;
  padding: 2em;
  border-radius: 1em;
  font-family: monospace;
  background-color: rgba(123, 220, 155, 0.57);
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6em;
  flex-grow: 1;
  transition: background-color .3s ease;
  box-shadow: 0 0.7em 0 #85c39a, 0 0.7em 1em rgba(0, 0, 0, 0.12); }
  .bs-tst-card ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0; }
  .bs-tst-card:hover {
    background-color: rgba(123, 220, 155, 0.7); }
  .bs-tst-card-loading {
    animation: pulse .8s infinite; }
    .bs-tst-card-loading:before {
      content: 'loading...';
      font-weight: 600;
      font-size: 1.1em; }
  .bs-tst-card > h1, .bs-tst-card > h2, .bs-tst-card > h3, .bs-tst-card > h4, .bs-tst-card > h5, .bs-tst-card > h6 {
    margin: 0; }

.bs-tst {
  padding: 3em 0; }
  .bs-tst-game {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between; }
    .bs-tst-game > li {
      padding: 0.5em; }
      .bs-tst-game > li:first-child {
        padding-left: 0; }
      .bs-tst-game > li:last-child {
        padding-right: 0; }

.bs-bsod {
  background-color: #3b4eaf;
  color: white;
  padding: 1em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1; }
  .bs-bsod > h2, .bs-bsod > p {
    margin: 0;
    text-align: center; }
  .bs-bsod > h2 {
    font-size: 3em; }
    @media screen and (max-width: 425px) {
      .bs-bsod > h2 {
        font-size: 2em; } }
  .bs-bsod > p {
    font-size: 2em; }
    @media screen and (max-width: 425px) {
      .bs-bsod > p {
        font-size: 1.3em; } }
  .bs-bsod-html {
    max-height: 100vh;
    overflow: hidden; }

.bs-button {
  border: none;
  box-shadow: 0 0.2em 0 rgba(0, 0, 0, 0.6);
  background: white;
  border-radius: 1em;
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
  padding: .2em 1em;
  opacity: 0.65;
  transition: opacity .2s ease; }
  .bs-button:hover, .bs-button:active, .bs-button:focus {
    opacity: 1;
    cursor: pointer;
    outline: none; }
  .bs-button:active {
    transform: translate(0, 0.2em);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6); }
  .bs-button-primary {
    background: #d3deef;
    border-radius: .6em;
    color: #345877;
    opacity: 0.65; }

.bs-input {
  background: #d3deef;
  border: none;
  padding: 1em;
  border-radius: 6px;
  color: #345877; }
  .bs-input[type=text] {
    transition: background-color .3s ease; }
    .bs-input[type=text]mono {
      font-family: monospace; }
    .bs-input[type=text]:hover, .bs-input[type=text]:active {
      background: #bdcdef;
      color: #345877; }
    .bs-input[type=text]:focus {
      outline: none; }

#go-back {
  position: fixed;
  top: 1em;
  left: 1em; }
