@import 'imports';
@import 'variables';
@import 'flex-util';

@mixin reset-list-style {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.#{$selector-prefix}fill-page {
  @include fill-viewport-h;
  @include flex-align(center, center);
}

.#{$selector-prefix}hero {
  background-size: cover;
  background-blend-mode: multiply;
  background-image: url('../img/background.png');

  & > &-title {
    margin: 0;
    font-size: 6em;
    color: white;
    text-shadow: 0 .05em rgba(0, 0, 0, 0.38);
    font-family: 'Patua One', sans-serif;

    &:after {
      content: 'alpha';
      margin-left: 0.1em;
      font-size: 0.5em;
      text-shadow: none;
      color: black;
    }
  }
}

.#{$selector-prefix}tst-cards {
  @include flex;
  @include reset-list-style;

  flex-wrap: wrap;
}

.#{$selector-prefix}tst-card {
  min-width: 3em;
  min-height: 3em;
  margin: 1em;
  padding: 2em;
  border-radius: 6px;

  font-family: monospace;
  background-color: rgba(49, 27, 136, 0.06);
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6em;

  & > ul {
    @include reset-list-style;
  }
}

input[type=text] {
  background: #d3deef;
  border: none;
  padding: 1em;
  border-radius: 6px;
  color: #345877;
  transition: background-color .3s ease;

  &.#{$selector-prefix}mono-input {
    font-family: monospace;
  }

  &:hover, &:active {
    background: #bdcdef;
    color: #345877;
  }

  &:focus {
    outline: none;
  }
}