@import 'imports';
@import 'variables';
@import 'flex-util';

@keyframes scaleIn {
  0% {
    transform: scale(10);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    background-color: white;
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@mixin reset-list-style {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin ocean-bg {
  background-size: cover;
  background-image: url('../img/background.png');
  background-attachment: fixed;
  background-position: bottom;

  background-blend-mode: overlay;
}

@mixin title {
  color: white;
  text-shadow: 0 0.05em rgba(0, 0, 0, 0.31), 0 0 .05em rgba(0, 0, 0, 0.38);
  font-family: 'Patua One', sans-serif;
  font-weight: normal;
}

.#{$selector-prefix}fill-page {
  @include fill-viewport-h;
  @include flex-align(center, center);

  overflow: hidden;
}

.#{$selector-prefix}hero {
  @include ocean-bg;

  animation: fadeIn 2s ease-in;

  & > &-title {
    margin: 0;
    font-size: 6em;
    @include title;

    animation: scaleIn .5s ease-out;

    //&:after {
    //  content: 'alpha';
    //  margin-left: 0.1em;
    //  font-size: 0.5em;
    //  text-shadow: none;
    //  color: black;
    //}

    @media screen and (max-width: $mobile-l) {
      font-size: 3em;
    }
  }

  //& > &-credit {
  //  position: absolute;
  //  bottom: 0;
  //  width: 100%;
  //  text-align: center;
  //  margin: 0;
  //  padding: 0.8em 0;
  //  color: #9bccd8;
  //  font-weight: 900;
  //  font-family: monospace;
  //}
}

.#{$selector-prefix}credit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: monospace;
  margin: 0;
  padding: 0.8em 0;
  color: #9bccd8;
  font-weight: 900;
}

.#{$selector-prefix}lobby {
  @include ocean-bg;

  &-container {
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $mobile-l) {
      width: 90vw;
      height: 80vh;
    }
  }

  &-title {
    @include title;
    margin: 0;
    font-size: 4em;
    text-align: center;

    @media screen and (max-width: $mobile-l) {
      font-size: 2em;
    }
  }

  &-user {
    margin: 1em 0 1em;
    padding: 1em;
    background: #ffffff;
    box-shadow: 0 0.3em 0 rgba(0, 0, 0, 0.2), 0 0.3em 2em rgba(0, 0, 0, 0.37);
    border-radius: .5em;
    color: #424261;
    font-size: .8em;
    text-align: center;
  }

  &-list {
    @include reset-list-style;

    display: flex;
    background: #f9f879;
    box-shadow: 0 0.5em 0 #b7b63b, 0 0.5em 2em rgba(0, 0, 0, 0.37);
    border-radius: .5em;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;

    & > li {
      border-bottom: 2px solid rgb(255, 255, 255);

      &:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.24);
      }

      &:last-child {
        border: none;
      }
    }

    &-item {
      @include reset-list-style;

      padding: 1em;

      display: flex;
      justify-content: space-between;
      align-content: center;

      transition: background-color .5s ease;

      color: #751f1f;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
      }

      & > &-vs {
        flex-grow: 1;
      }

      &-id, &-go, &-state, &-turn {
        opacity: .75;
      }

      &-id {
        font-family: monospace;
      }

      &-go, &-turn {
        margin-left: 1em;
      }

      &-li, &-id {
        margin-right: 1em;
      }

      &-state {
        @media screen and (max-width: $mobile-l) {
          display: none;
        }
      }
    }

    &:empty:before {
      content: 'there are no battles :(';
    }

    &-loading {
      animation: pulse .8s infinite;

      &:before {
        content: 'loading...' !important;
        font-weight: 600;
      }
    }

    &:before {
      font-size: 1.1em;
      text-align: center;
      padding: 1em;
    }
  }
}

.#{$selector-prefix}tst-cards {
  @include flex;
  @include reset-list-style;

  flex-wrap: wrap;
}

.#{$selector-prefix}tst-card {
  min-width: 3em;
  min-height: 3em;
  margin: 1em;
  padding: 2em;
  border-radius: 1em;

  font-family: monospace;
  background-color: rgba(123, 220, 155, 0.57);
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6em;

  flex-grow: 1;

  transition: background-color .3s ease;

  box-shadow: 0 0.7em 0 rgb(133, 195, 154), 0 0.7em 1em rgba(0, 0, 0, 0.12);

  & ul {
    @include reset-list-style;
  }

  &:hover {
    background-color: rgba(123, 220, 155, 0.7);
  }

  &-loading {
    animation: pulse .8s infinite;

    &:before {
      content: 'loading...';
      font-weight: 600;
      font-size: 1.1em;
    }
  }

  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    margin: 0;
  }
}

.#{$selector-prefix}tst {
  padding: 3em 0;

  &-game {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between;

    & > li {
      padding: 0.5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.#{$selector-prefix}bsod {
  background-color: #3b4eaf;
  color: white;
  padding: 1em;
  position: fixed;
  width: 100vw;

  & > h2, & > p {
    margin: 0;
    text-align: center;
  }

  & > h2 {
    font-size: 3em;

    @media screen and (max-width: $mobile-l) {
      font-size: 2em;
    }
  }

  & > p {
    font-size: 2em;

    @media screen and (max-width: $mobile-l) {
      font-size: 1.3em;
    }
  }

  &-html {
    max-height: 100vh;
    overflow: hidden;
  }
}

.#{$selector-prefix}button {
  border: none;
  box-shadow: 0 .2em 0 rgba(0, 0, 0, 0.6);
  background: white;
  border-radius: 1em;
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
  padding: .2em 1em;

  opacity: 0.65;

  transition: opacity .2s ease;

  &:hover, &:active, &:focus {
    opacity: 1;
    cursor: pointer;

    outline: none;
  }

  &:active {
    transform: translate(0, .2em);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  }

  &-primary {
    background: #d3deef;
    border-radius: .6em;
    color: #345877;
    opacity: 0.65;
  }
}

input[type=text] {
  background: #d3deef;
  border: none;
  padding: 1em;
  border-radius: 6px;
  color: #345877;
  transition: background-color .3s ease;

  &.#{$selector-prefix}mono-input {
    font-family: monospace;
  }

  &:hover, &:active {
    background: #bdcdef;
    color: #345877;
  }

  &:focus {
    outline: none;
  }
}

#go-back {
  position: fixed;
  top: 1em;
  left: 1em;
}