@import 'imports';
@import 'variables';
@import 'flex-util';

@keyframes scaleIn {
  0% {
    transform: scale(10);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    background-color: white;
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@mixin reset-list-style {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.#{$selector-prefix}fill-page {
  @include fill-viewport-h;
  @include flex-align(center, center);

  overflow: hidden;
}

.#{$selector-prefix}hero {
  background-size: cover;
  background-image: url('../img/background.png');
  background-attachment: fixed;
  background-position: bottom;

  background-blend-mode: overlay;

  animation: fadeIn 2s ease-in;

  & > &-title {
    margin: 0;
    font-size: 6em;
    color: white;
    text-shadow: 0 0.05em rgba(0, 0, 0, 0.31), 0 0 .05em rgba(0, 0, 0, 0.38);
    font-family: 'Patua One', sans-serif;

    animation: scaleIn .5s ease-out;

    //&:after {
    //  content: 'alpha';
    //  margin-left: 0.1em;
    //  font-size: 0.5em;
    //  text-shadow: none;
    //  color: black;
    //}

    @media screen and (max-width: $mobile-l) {
      font-size: 3em;
    }
  }

  & > &-credit {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.8em 0;
    color: #9bccd8;
    font-weight: 900;
    font-family: monospace;
  }
}

.#{$selector-prefix}tst-cards {
  @include flex;
  @include reset-list-style;

  flex-wrap: wrap;
}

.#{$selector-prefix}tst-card {
  min-width: 3em;
  min-height: 3em;
  margin: 1em;
  padding: 2em;
  border-radius: 1em;

  font-family: monospace;
  background-color: rgba(123, 220, 155, 0.57);
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6em;

  flex-grow: 1;

  transition: background-color .3s ease;

  box-shadow: 0 0.7em 0 rgb(133, 195, 154), 0 0.7em 1em rgba(0, 0, 0, 0.12);

  & ul {
    @include reset-list-style;
  }

  &:hover {
    background-color: rgba(123, 220, 155, 0.7);
  }

  &-loading {
    animation: pulse .8s infinite;

    &:before {
      content: 'loading...';
      font-weight: 600;
      font-size: 1.1em;
    }
  }

  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    margin: 0;
  }
}

.#{$selector-prefix}tst-game {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: space-between;

  & > li {
    padding: 0.5em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.#{$selector-prefix}bsod {
  background-color: #3b4eaf;
  color: white;
  padding: 1em;
  position: fixed;

  & > h2, & > p {
    margin: 0;
    text-align: center;
  }

  & > h2 {
    font-size: 3em;

    @media screen and (max-width: $mobile-l) {
      font-size: 2em;
    }
  }

  & > p {
    font-size: 2em;

    @media screen and (max-width: $mobile-l) {
      font-size: 1.3em;
    }
  }

  &-html {
    max-height: 100vh;
    overflow: hidden;
  }
}

input[type=text] {
  background: #d3deef;
  border: none;
  padding: 1em;
  border-radius: 6px;
  color: #345877;
  transition: background-color .3s ease;

  &.#{$selector-prefix}mono-input {
    font-family: monospace;
  }

  &:hover, &:active {
    background: #bdcdef;
    color: #345877;
  }

  &:focus {
    outline: none;
  }
}