# ignore for phpstorm
.idea/

# ignore for sublime
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

# npm
node_modules

# project specific
public/js/main.js
public/css/main.css
