.hero-button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 0 20px;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font: normal normal bold 20px/40px 'Patua One', Helvetica, sans-serif;
    color: black;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(221, 221, 221);
    -webkit-box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
    box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
    text-shadow: 0 1px 0 #FFFFFF ;
}

.hero-button:hover {
    background: #FFFFFF;
}

.hero-button:active {
    transform: translate(0px, 6px);
    background: rgb(221, 221, 221);
    -webkit-box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
    box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
}

.hero-button:focus {
    outline: 0;
    background: rgb(221, 221, 221);
}

.menu-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-hero > .hero-button {
    width: 150px;
    margin-top: 20px;
}

.menu-hero > .hero-button {
    margin: 26px 0 -6px;
}

/*** Table Styles **/

.games-table {
    margin-top: 20px;
    width: 60%;
    font: normal normal bold 20px/40px 'Patua One', Helvetica, sans-serif;
}

.table-fill {
    background: white;
    border-radius:6px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.games-table th {
    color: #000000;
    background: #03A9F4;
    border-bottom:6px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

.games-table th:first-child {
    border-top-left-radius:3px;
}

.games-table th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

.games-table tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.games-table tr:hover td {
    background: #eaeaea;
}

.games-table tr:first-child {
    border-top:none;
}

.games-table tr:last-child {
    border-bottom:none;
}

/*tr:nth-child(odd) td {*/
    /*background:#EBEBEB;*/
/*}*/

/*tr:nth-child(odd):hover td {*/
    /*background:#98bbc6;*/
/*}*/

.games-table tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

.games-table tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

.games-table td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.games-table td:last-child {
    border-right: 0px;
}

.games-table th.text-left {
    text-align: left;
}

.games-table th.text-center {
    text-align: center;
}

.games-table th.text-right {
    text-align: right;
}

.games-table td.text-left {
    text-align: left;
}

.games-table td.text-center {
    text-align: center;
}

.games-table td.text-right {
    text-align: right;
}