table.player-grid {
    border-collapse: collapse;
    border-spacing: 10px;
}

table.player-grid td {
    border: 5px solid #837f84;
    width: 45px;
    height: 45px;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

/* top-left border-radius */
table.player-grid tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

/* top-right border-radius */
table.player-grid tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table.player-grid tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table.player-grid tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

#placeable-ships {
    border: 1px solid;

    width: 40%;
    height: 250px;
}

.placeable-ship {
    cursor: move;
    position: absolute;
}

/* Center ships in gridcel */
#aircraft-carrier.horizontal {
    padding: 6px 15px;
}

#aircraft-carrier.vertical {
    padding: 15px 6px;
    left: 500px;
}

#battleship.horizontal {
    padding: 9px 16px;
}

#battleship.vertical {
    padding: 11px 9px;
    left: 600px;
}

#destroyer, #submarine {
    padding: 9px;
}

#destroyer.vertical {
    left: 700px;
}

#destroyer.horizontal {
    left: 650px;
}

#submarine.vertical {
    left: 800px;
}

#submarine.horizontal {
    left: 750px;
}

#patrol-boat.horizontal {
    padding: 12px 9px;
    left: 875px;
}

#patrol-boat.vertical {
    padding: 9px 12px;
    left: 900px;
}

#submit-button {
    position: fixed;
    top: 286px;
    left: 100px;
}