.sea {
    background-color: #327cbe;
}

#bs-setup-area {
    width: 80%;
    min-width: 680px;
}

@media screen and (min-width: 425px) {
    #gameboard {
        animation: flyIn 1s ease-out;
    }

    #placeable-ships {
        animation: flyIn .7s ease-out;
    }
}

#gameboard {
    float: left;
}

table.player-grid {
    border-collapse: collapse;
    border-spacing: 10px;
}

table.player-grid td {
    border: 5px solid #2489cd;
    width: 45px;
    height: 45px;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

/* top-left border-radius */
table.player-grid tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

/* top-right border-radius */
table.player-grid tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table.player-grid tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table.player-grid tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

#placeable-ships {
    float: right;

    width: 40%;
    height: 250px;

    margin: 1em 0 1em;
    padding: 1em;
    background: rgba(3, 169, 244, 0.28);
    box-shadow: 0 0.3em 0 rgba(3, 177, 244, 0.64), 0 0.3em 2em rgba(0, 0, 0, 0.37);
    border-radius: .5em;
    color: #424261;
    text-align: center;
}

.placeable-ship {
    position: absolute;
}

.draggable-ship {
    cursor: move;
}

/* Center ships in gridcel */
#aircraft-carrier {
    left: 58%;
}

#aircraft-carrier.horizontal {
    padding: 6px 15px;
}

#aircraft-carrier.vertical {
    padding: 15px 6px;
}

#battleship {
    left: 65%;
}

#battleship.horizontal {
    padding: 9px 16px;
}

#battleship.vertical {
    padding: 11px 9px;
}

#destroyer, #submarine {
    padding: 9px;
}

#destroyer {
    left: 72%;
}

#submarine {
    left: 79%;
}

#patrol-boat {
    left: 85%;
}

#patrol-boat.horizontal {
    padding: 12px 9px;
}

#patrol-boat.vertical {
    padding: 9px 12px;
}

#submit-button {
    position: relative;
    margin: 0 12%;
    float: right;
    top: 80px;
}

@media screen and (max-width: 1245px) {
    #bs-setup-area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #gameboard {
        float: none;
    }

    #placeable-ships {
        float: none;
        width: 70%;
    }

    #aircraft-carrier {
        left: 26%;
    }

    #battleship {
        left: 37%;
    }

    #destroyer {
        left: 49%;
    }

    #submarine {
        left: 60%;
    }

    #patrol-boat {
        left: 70%;
    }

    #submit-button {
        margin: 10px 0 60px;
        top: 0;
        left: 0;
    }
}